@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Slab&display=swap');

*{
    background-color: black;
}

h1{
    font-family: 'Koulen', cursive;
    font-size: 100px;
    margin-top: 0;
    text-align: center;
    color: white;
}

h3{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.oii{
    color: red;
}

div{
    justify-content: space-between;
}
.um{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 50%;
}

.dois{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}